@charset "UTF-8";
/* 기본 속성 */
:root {
  --c-white: oklch(100% 0 0);
  --c-black: oklch(0% 0 0);
  --c-red: oklch(65% 0.2 15);
  --c-blue: oklch(65% 0.15 250);
  --c-main: oklch(100% 0 0);
  --c-sub: oklch(90% 0 0);
  --c-border: oklch(0% 0 0);
  --c-font: oklch(0% 0 0);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;

  width: 100dvw;
  height: 100dvh;

  color: var(--c-font);
}

section {
  position: absolute;

  width: 100%;
  height: 100%;
}
section::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  background-color: var(--c-border);
  content: "";
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  color: var(--c-font);
  font-size: 16pt;
  background-color: var(--c-main);

  transition: ease-in-out 0.1s;
  transition-property: opacity, transform;
}
button:active {
  opacity: 0.5;
  transform: scale(0.9);
}

.bg-white {
  color: var(--c-black);
  background-color: var(--c-white);
}
.bg-black {
  color: var(--c-white);
  background-color: var(--c-black);
}
.bg-red {
  color: var(--c-white);
  background-color: var(--c-red);
}
.bg-blue {
  color: var(--c-white);
  background-color: var(--c-blue);
}


/* 메인 화면 속성 */
section#main {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: minmax(0, auto) 60px minmax(0, 1fr) 80px;
  gap: 2px;
}

section#main > .title {
  padding: 10px 0;

  font-size: 20pt;
  font-weight: 900;
  text-align: center;
  background-color: var(--c-sub);
}

section#main > .top,
section#main > .bottom {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2px;
}
section#main > .top > button,
section#main > .bottom > button { border: none; }

section#main > .middle {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: minmax(0, 1fr) 122px;
  gap: 2px;
}

section#main > .middle > .banchan-list {
  display: flex;
  flex-direction: column;

  background-color: var(--c-main);
}
section#main > .middle > .banchan-list > h3 {
  padding: 10px;

  border-bottom: solid 2px var(--c-border);
  background-color: var(--c-sub);
}
section#main > .middle > .banchan-list > .list-body {
  overflow-y: scroll;

  flex: 1;
  width: 100%;
  height: 100%;
}

section#main > .middle > .control {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 60px 60px;
  gap: 2px;
}
section#main > .middle > .control > button { border: none; }
section#main > .middle > .control > .cost {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 10px;

  font-size: 24pt;
  font-weight: 900;
  background-color: var(--c-sub);
}

section#main .item {
  display: grid;
  grid-template-columns: 54px 84px minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: 120px;

  border-bottom: solid 2px var(--c-border);
  user-select: none;
}

section#main .item > .remove {
  display: grid;
  place-items: center right;
}
section#main .item > .remove > button {
  width: 44px;
  height: 64px;

  border: solid 2px var(--c-border);
}

section#main .item > .thumb {
  display: grid;
  place-items: center;

  pointer-events: none;
}
section#main .item > .thumb > img {
  width: 74px;
  height: 74px;
  object-fit: cover;

  border: solid 2px var(--c-border);
}

section#main .item > .left,
section#main .item > .right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-right: 10px;
  
  pointer-events: none;
}
section#main .item > .right { align-items: flex-end; }


/* 모달 속성 */
.modal {
  display: none;
  position: fixed;
  place-items: center;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100dvw;
  height: 100dvh;

  background-color: oklch(0% 0 0/0.5);
}

.modal > .body {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  gap: 20px;

  width: 100%;
  height: max-content;

  border-top: solid 2px var(--c-border);
  border-bottom: solid 2px var(--c-border);
  background-color: var(--c-main);
}

.modal > .body > button {
  width: 100%;
  height: 60px;

  border: solid 2px var(--c-border);
}


/* 반찬 수량 조절 모달 고유 속성 */
.quantity-control {
  display: grid;
  grid-template-columns: 60px minmax(0, 1fr) 60px;
  grid-template-rows: 60px;
  padding: 2px;
  gap: 2px;

  background-color: var(--c-border);
}
.quantity-control > button { border: none; }
.quantity-control > input[type=number] {
  padding: 10px;

  color: var(--c-font);
  font-size: 24px;
  font-weight: 900;
  appearance: textfield;
  border: none;
  background-color: var(--c-main);
}


/* 반찬 추가 화면 속성 */
section#menuboard {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: minmax(0, auto) minmax(0, 1fr);
  gap: 2px;
  z-index: 0;
}

section#menuboard > .title {
  display: flex;
  gap: 2px;

  font-size: 20pt;
  font-weight: 900;
  text-align: center;
  background-color: var(--c-border);
}
section#menuboard > .title > p {
  padding: 10px 0;

  flex: 1;
  width: 100%;

  background-color: var(--c-sub);
}
section#menuboard > .title > button {
  padding: 0 20px;

  border: none;
}

section#menuboard > .list {
  display: block;
  overflow-y: scroll;

  width: 100%;
  height: 100%;

  background-color: var(--c-border);
}
section#menuboard > .list > *:not(:last-child) { margin-bottom: 2px; }
section#menuboard > .list > h3 {
  padding: 10px;

  font-size: 16pt;
  font-weight: 900;
  background-color: var(--c-sub);
}

section#menuboard .item {
  display: grid;
  grid-template-columns: 84px minmax(0, 1fr) minmax(0, auto) ;
  grid-template-rows: 120px;

  background-color: var(--c-main);
  user-select: none;

  transition: ease-in-out 0.1s;
  transition-property: opacity, transform;
}
section#menuboard .item:active {
  opacity: 0.5;
  transform: scale(0.9);
}

section#menuboard .item > .thumb {
  display: grid;
  place-items: center;

  pointer-events: none;
}
section#menuboard .item > .thumb > img {
  width: 74px;
  height: 74px;
  object-fit: cover;

  border: solid 2px var(--c-border);
}

section#menuboard .item > .left,
section#menuboard .item > .right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-right: 10px;
  
  pointer-events: none;
}
section#menuboard .item > .right { align-items: flex-end; }


/* 크게 보기 화면 속성 */
section#report {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 350px;

  width: 100dvh;
  height: 100dvw;

  background-color: var(--c-white);

  transform: rotate(90deg) translateY(-100dvw);
  transform-origin: top left;
}
section#report::before { content: none; }

section#report > .left {
  display: block;
  overflow-y: scroll;

  height: 100dvw;

  /* background-color: yellow; */
}
section#report > .left .item {
  display: grid;
  grid-template-columns: minmax(0, 45%) minmax(0, 20%) minmax(0, 35%);
  gap: 5px;

  border-bottom: solid 2px var(--c-black);
}
section#report > .left .item {
  padding: 5px;

  color: var(--c-black);
  font-size: 20pt;
}
section#report > .left .item *:not(:first-child) {
  padding-left: 5px;

  border-left: solid 2px var(--c-black);
}

section#report > .right {
  display: grid;
  grid-template-rows: 80px minmax(0, 1fr);

  border-left: solid 2px var(--c-black);
}
section#report > .right > button {
  color: var(--c-black);
  border: none;
  border-bottom: solid 2px var(--c-black);
}
section#report > .right > div {
  display: grid;
  place-items: end right;
  padding-right: 10px;

  color: var(--c-black);
  font-size: 40pt;
  font-weight: 900;
}


/* 기록 화면 속성 */
section#history {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: minmax(0, auto) minmax(0, 1fr);
  gap: 2px;
  z-index: 0;
}

section#history > .title {
  display: flex;
  gap: 2px;

  font-size: 20pt;
  font-weight: 900;
  text-align: center;
  background-color: var(--c-border);
}
section#history > .title > p {
  padding: 10px 0;

  flex: 1;
  width: 100%;

  background-color: var(--c-sub);
}
section#history > .title > button {
  padding: 0 20px;

  border: none;
}

section#history > .list {
  display: block;
  overflow-y: scroll;

  width: 100%;
  height: 100%;

  background-color: var(--c-white);
}

section#history > .list .item {
  display: flex;
  gap: 5px;
  flex-direction: column;
  padding: 10px;
  
  border-bottom: solid 2px var(--c-border);
}

section#history > .list .item .subitem {
  display: flex;
  gap: 5px;
  flex-direction: column;
  padding: 10px;

  border: solid 2px var(--c-border);
}